.dot { /* className for the trail elements */
  position: absolute;
  pointer-events: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  opacity: 0.4;


    
}
  body {
    height: 300px;
background: teal;
}
